<html>
<meta charset="UTF-8">
   <body>
      <form action="/upload" method="post" enctype="multipart/form-data">
         <fieldset>
           <label for="name">FirstName:</label>
           <input type="text" id="firstname" name="firstname" placeholder="Enter your first name" />
           <br />
           <label for="name">LastName:</label>
           <input type="text" id="lastname" name="lastname" placeholder="Enter your last name" />
           <br />
           <label for="name">Adresse:</label>
           <input type="text" id="address" name="address" placeholder="Enter your address" />
           <br />
           <label for="name">Pseudo:</label>
           <input type="text" id="pseudo" name="pseudo" placeholder="Enter your pseudo" />
           <br />
           <label for="name">Email:</label>
           <input type="email" id="email" name="email" placeholder="Enter your Email" />
           <br />

            <input type="submit" value="Create Profile" />
         </fieldset>
      </form>
   </body>
</html>
